@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h4,
h5.h6,
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav {
    background-color: #28A745;
}

nav a img {
    width: 120px;
}

nav .navbar-collapse {
    justify-content: end;
}

.card .direction {
    display: flex;
}

.card .price {
    display: flex;
    justify-content: end;
}

.card .card-body h3 {
    color: #212529;
}

.card .card-body h5,
.card .direction p,
.card .price h5,
footer {
    color: #707070;
}

.card .price h3 {
    color: #28A745;
    padding-left: 10px;
    padding-right: 10px;
}

.card .price h5 {
    padding-top: 5px;
}

.direction {
    display: flex;
    gap: 5px;
}

form {
    background-color: #28A745;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
}

footer img {
    width: 120px;
}